.index-header {
    padding: 10px 0;
    text-transform: uppercase;
    .left {
        display: flex;
        align-items: center;

        img {
            margin-right: 30px;
        }

        h1 {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .mobile-menu {
        display: none;

        &.show {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            .ul {
                padding: 0;
                li {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .hamburger-icon-container {
        text-align: right;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .right {
        display: flex;
        justify-content: space-between;
        list-style: none;

        @include media-breakpoint-down(md) {
            display: none;
        }

        li {
            position: relative;

            &:hover, &.active {
                cursor: pointer;
                &:before {
                    content: '';
                    background-color: $red;
                    display: block;
                    height: 2px;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}