header {
    background: $white;
    padding: 10px 0;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        position: fixed;
        width: 100%;
        z-index: 300;
        top: 0;
    }

    .left {
        display: flex;
        align-items: center;

        img {
            margin-right: 30px;
        }

        h1 {
            margin: 0;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    .mobile-menu {
        display: none;

        &.show {
            background: rgba(0, 0, 0, .8);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 300;
        }

        .close {
            color: $white;
            font-size: 40px;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        ul {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%);
            padding: 0;
            list-style: none;

            li {
                color: $white;
                display: block;
                font-size: 40px;
                text-align: center;
                position: relative;

                a {
                    color: $white;

                    &:hover {
                        text-decoration: none;
                    }
                }

               &.active {
                    cursor: pointer;
                    &:before {
                        content: '';
                        background-color: $red;
                        display: block;
                        height: 2px;
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .hamburger-icon-container {
        text-align: right;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .right {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;

        @include media-breakpoint-down(md) {
            display: none;
        }

        li {
            position: relative;

            a {
                color: $font-color;

                &:hover {
                    text-decoration: none;
                }
            }

            &:hover, &.active {
                cursor: pointer;
                &:before {
                    content: '';
                    background-color: $red;
                    display: block;
                    height: 2px;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}