
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$red: #e10b57;
$section-color: #e9e9e9;
$font-color: #212529;